* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 13px Helvetica, Arial;
}

form {
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 100%;
}

form input {
    padding: 10px;
    width: 65%;
    border: none;
}

form button {
    padding: 12px;
    width: 10%;
    background: #CCC;
    border: none;
}

#chats {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    overflow-x: hidden;
    overflow-y: auto;
}

#chats li {
    padding: 10px;
}

#messages {
    position: fixed;
    top: 0;
    left: 25%;
    height: calc(100% - 36px);
    width: 75%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #88F;
}

#messages li {
    padding: 5px;
}

#sent {
    text-align: right;
}

#chats li a {
    display: block;
}

.user.selected {
    background-color: cornflowerblue;
}